[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
faiss-cpu = "*"
python-dotenv = "*"
langchain = "*"
openai = "1.2.0"
pydantic = "*"
streamlit-chat = "*"
tiktoken = "*"
playsound = "*"
pyobjc = "*"
pymongo = "*"
redis = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
