-i https://pypi.org/simple
aiohttp==3.9.1; python_version >= '3.8'
aiosignal==1.3.1; python_version >= '3.7'
altair==5.2.0; python_version >= '3.8'
annotated-types==0.6.0; python_version >= '3.8'
anyio==3.7.1; python_version >= '3.7'
attrs==23.2.0; python_version >= '3.7'
blinker==1.7.0; python_version >= '3.8'
cachetools==5.3.2; python_version >= '3.7'
certifi==2023.11.17; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
dataclasses-json==0.6.3; python_version >= '3.7' and python_version < '4.0'
distro==1.9.0; python_version >= '3.6'
dnspython==2.4.2; python_version >= '3.8' and python_version < '4.0'
faiss-cpu==1.7.4
flask==3.0.0
frozenlist==1.4.1; python_version >= '3.8'
gitdb==4.0.11; python_version >= '3.7'
gitpython==3.1.40; python_version >= '3.7'
h11==0.14.0; python_version >= '3.7'
httpcore==1.0.2; python_version >= '3.8'
httpx==0.26.0; python_version >= '3.8'
idna==3.6; python_version >= '3.5'
importlib-metadata==6.11.0; python_version >= '3.8'
itsdangerous==2.1.2; python_version >= '3.7'
jinja2==3.1.2; python_version >= '3.7'
jsonpatch==1.33; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
jsonpointer==2.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
jsonschema==4.20.0; python_version >= '3.8'
jsonschema-specifications==2023.12.1; python_version >= '3.8'
langchain==0.1.0
langchain-community==0.0.9
langchain-core==0.1.7; python_version < '4.0' and python_full_version >= '3.8.1'
langsmith==0.0.77; python_version < '4.0' and python_full_version >= '3.8.1'
markdown-it-py==3.0.0; python_version >= '3.8'
markupsafe==2.1.3; python_version >= '3.7'
marshmallow==3.20.1; python_version >= '3.8'
mdurl==0.1.2; python_version >= '3.7'
multidict==6.0.4; python_version >= '3.7'
mypy-extensions==1.0.0; python_version >= '3.5'
numpy==1.26.3; python_version >= '3.9'
openai==1.2.0
packaging==23.2; python_version >= '3.7'
pandas==2.1.4; python_version >= '3.9'
pillow==10.2.0; python_version >= '3.8'
playsound==1.3.0
protobuf==4.25.1; python_version >= '3.8'
pyarrow==14.0.2; python_version >= '3.8'
pydantic==2.5.3
pydantic-core==2.14.6; python_version >= '3.7'
pydeck==0.8.1b0; python_version >= '3.7'
pygments==2.17.2; python_version >= '3.7'
pymongo==4.6.1
pyobjc==10.1
pyobjc-core==10.1; python_version >= '3.8'
pyobjc-framework-accessibility==10.1; platform_release >= '20.0'
pyobjc-framework-accounts==10.1; platform_release >= '12.0'
pyobjc-framework-addressbook==10.1; python_version >= '3.8'
pyobjc-framework-adservices==10.1; platform_release >= '20.0'
pyobjc-framework-adsupport==10.1; platform_release >= '18.0'
pyobjc-framework-applescriptkit==10.1; python_version >= '3.8'
pyobjc-framework-applescriptobjc==10.1; platform_release >= '10.0'
pyobjc-framework-applicationservices==10.1; python_version >= '3.8'
pyobjc-framework-apptrackingtransparency==10.1; platform_release >= '20.0'
pyobjc-framework-audiovideobridging==10.1; platform_release >= '12.0'
pyobjc-framework-authenticationservices==10.1; platform_release >= '19.0'
pyobjc-framework-automaticassessmentconfiguration==10.1; platform_release >= '19.0'
pyobjc-framework-automator==10.1; python_version >= '3.8'
pyobjc-framework-avfoundation==10.1; platform_release >= '11.0'
pyobjc-framework-avkit==10.1; platform_release >= '13.0'
pyobjc-framework-avrouting==10.1; platform_release >= '22.0'
pyobjc-framework-backgroundassets==10.1; platform_release >= '22.0'
pyobjc-framework-businesschat==10.1; platform_release >= '18.0'
pyobjc-framework-calendarstore==10.1; platform_release >= '9.0'
pyobjc-framework-callkit==10.1; platform_release >= '20.0'
pyobjc-framework-cfnetwork==10.1; python_version >= '3.8'
pyobjc-framework-cinematic==10.1; platform_release >= '23.0'
pyobjc-framework-classkit==10.1; platform_release >= '20.0'
pyobjc-framework-cloudkit==10.1; platform_release >= '14.0'
pyobjc-framework-cocoa==10.1; python_version >= '3.8'
pyobjc-framework-collaboration==10.1; platform_release >= '9.0'
pyobjc-framework-colorsync==10.1; platform_release >= '17.0'
pyobjc-framework-contacts==10.1; platform_release >= '15.0'
pyobjc-framework-contactsui==10.1; platform_release >= '15.0'
pyobjc-framework-coreaudio==10.1; python_version >= '3.8'
pyobjc-framework-coreaudiokit==10.1; python_version >= '3.8'
pyobjc-framework-corebluetooth==10.1; platform_release >= '14.0'
pyobjc-framework-coredata==10.1; python_version >= '3.8'
pyobjc-framework-corehaptics==10.1; platform_release >= '19.0'
pyobjc-framework-corelocation==10.1; platform_release >= '10.0'
pyobjc-framework-coremedia==10.1; platform_release >= '11.0'
pyobjc-framework-coremediaio==10.1; platform_release >= '11.0'
pyobjc-framework-coremidi==10.1; python_version >= '3.8'
pyobjc-framework-coreml==10.1; platform_release >= '17.0'
pyobjc-framework-coremotion==10.1; platform_release >= '19.0'
pyobjc-framework-coreservices==10.1; python_version >= '3.8'
pyobjc-framework-corespotlight==10.1; platform_release >= '17.0'
pyobjc-framework-coretext==10.1; python_version >= '3.8'
pyobjc-framework-corewlan==10.1; platform_release >= '10.0'
pyobjc-framework-cryptotokenkit==10.1; platform_release >= '14.0'
pyobjc-framework-datadetection==10.1; platform_release >= '21.0'
pyobjc-framework-devicecheck==10.1; platform_release >= '19.0'
pyobjc-framework-dictionaryservices==10.1; platform_release >= '9.0'
pyobjc-framework-discrecording==10.1; python_version >= '3.8'
pyobjc-framework-discrecordingui==10.1; python_version >= '3.8'
pyobjc-framework-diskarbitration==10.1; python_version >= '3.8'
pyobjc-framework-dvdplayback==10.1; python_version >= '3.8'
pyobjc-framework-eventkit==10.1; platform_release >= '12.0'
pyobjc-framework-exceptionhandling==10.1; python_version >= '3.8'
pyobjc-framework-executionpolicy==10.1; platform_release >= '19.0'
pyobjc-framework-extensionkit==10.1; platform_release >= '22.0'
pyobjc-framework-externalaccessory==10.1; platform_release >= '17.0'
pyobjc-framework-fileprovider==10.1; platform_release >= '19.0'
pyobjc-framework-fileproviderui==10.1; platform_release >= '19.0'
pyobjc-framework-findersync==10.1; platform_release >= '14.0'
pyobjc-framework-fsevents==10.1; platform_release >= '9.0'
pyobjc-framework-gamecenter==10.1; platform_release >= '12.0'
pyobjc-framework-gamecontroller==10.1; platform_release >= '13.0'
pyobjc-framework-gamekit==10.1; platform_release >= '12.0'
pyobjc-framework-gameplaykit==10.1; platform_release >= '15.0'
pyobjc-framework-healthkit==10.1; platform_release >= '22.0'
pyobjc-framework-imagecapturecore==10.1; platform_release >= '10.0'
pyobjc-framework-inputmethodkit==10.1; platform_release >= '9.0'
pyobjc-framework-installerplugins==10.1; python_version >= '3.8'
pyobjc-framework-instantmessage==10.1; platform_release >= '9.0'
pyobjc-framework-intents==10.1; platform_release >= '16.0'
pyobjc-framework-intentsui==10.1; platform_release >= '21.0'
pyobjc-framework-iobluetooth==10.1; python_version >= '3.8'
pyobjc-framework-iobluetoothui==10.1; python_version >= '3.8'
pyobjc-framework-iosurface==10.1; platform_release >= '10.0'
pyobjc-framework-ituneslibrary==10.1; platform_release >= '10.0'
pyobjc-framework-kernelmanagement==10.1; platform_release >= '20.0'
pyobjc-framework-latentsemanticmapping==10.1; python_version >= '3.8'
pyobjc-framework-launchservices==10.1; python_version >= '3.8'
pyobjc-framework-libdispatch==10.1; platform_release >= '12.0'
pyobjc-framework-libxpc==10.1; platform_release >= '12.0'
pyobjc-framework-linkpresentation==10.1; platform_release >= '19.0'
pyobjc-framework-localauthentication==10.1; platform_release >= '14.0'
pyobjc-framework-localauthenticationembeddedui==10.1; platform_release >= '21.0'
pyobjc-framework-mailkit==10.1; platform_release >= '21.0'
pyobjc-framework-mapkit==10.1; platform_release >= '13.0'
pyobjc-framework-mediaaccessibility==10.1; platform_release >= '13.0'
pyobjc-framework-medialibrary==10.1; platform_release >= '13.0'
pyobjc-framework-mediaplayer==10.1; platform_release >= '16.0'
pyobjc-framework-mediatoolbox==10.1; platform_release >= '13.0'
pyobjc-framework-metal==10.1; platform_release >= '15.0'
pyobjc-framework-metalfx==10.1; platform_release >= '22.0'
pyobjc-framework-metalkit==10.1; platform_release >= '15.0'
pyobjc-framework-metalperformanceshaders==10.1; platform_release >= '17.0'
pyobjc-framework-metalperformanceshadersgraph==10.1; platform_release >= '20.0'
pyobjc-framework-metrickit==10.1; platform_release >= '21.0'
pyobjc-framework-mlcompute==10.1; platform_release >= '20.0'
pyobjc-framework-modelio==10.1; platform_release >= '15.0'
pyobjc-framework-multipeerconnectivity==10.1; platform_release >= '14.0'
pyobjc-framework-naturallanguage==10.1; platform_release >= '18.0'
pyobjc-framework-netfs==10.1; platform_release >= '10.0'
pyobjc-framework-network==10.1; platform_release >= '18.0'
pyobjc-framework-networkextension==10.1; platform_release >= '15.0'
pyobjc-framework-notificationcenter==10.1; platform_release >= '14.0'
pyobjc-framework-opendirectory==10.1; platform_release >= '10.0'
pyobjc-framework-osakit==10.1; python_version >= '3.8'
pyobjc-framework-oslog==10.1; platform_release >= '19.0'
pyobjc-framework-passkit==10.1; platform_release >= '20.0'
pyobjc-framework-pencilkit==10.1; platform_release >= '19.0'
pyobjc-framework-phase==10.1; platform_release >= '21.0'
pyobjc-framework-photos==10.1; platform_release >= '15.0'
pyobjc-framework-photosui==10.1; platform_release >= '15.0'
pyobjc-framework-preferencepanes==10.1; python_version >= '3.8'
pyobjc-framework-pushkit==10.1; platform_release >= '19.0'
pyobjc-framework-quartz==10.1; python_version >= '3.8'
pyobjc-framework-quicklookthumbnailing==10.1; platform_release >= '19.0'
pyobjc-framework-replaykit==10.1; platform_release >= '20.0'
pyobjc-framework-safariservices==10.1; platform_release >= '16.0'
pyobjc-framework-safetykit==10.1; platform_release >= '22.0'
pyobjc-framework-scenekit==10.1; platform_release >= '11.0'
pyobjc-framework-screencapturekit==10.1; platform_release >= '21.4'
pyobjc-framework-screensaver==10.1; python_version >= '3.8'
pyobjc-framework-screentime==10.1; platform_release >= '20.0'
pyobjc-framework-scriptingbridge==10.1; platform_release >= '9.0'
pyobjc-framework-searchkit==10.1; python_version >= '3.8'
pyobjc-framework-security==10.1; python_version >= '3.8'
pyobjc-framework-securityfoundation==10.1; python_version >= '3.8'
pyobjc-framework-securityinterface==10.1; python_version >= '3.8'
pyobjc-framework-sensitivecontentanalysis==10.1; platform_release >= '23.0'
pyobjc-framework-servicemanagement==10.1; platform_release >= '10.0'
pyobjc-framework-sharedwithyou==10.1; platform_release >= '22.0'
pyobjc-framework-sharedwithyoucore==10.1; platform_release >= '22.0'
pyobjc-framework-shazamkit==10.1; platform_release >= '21.0'
pyobjc-framework-social==10.1; platform_release >= '12.0'
pyobjc-framework-soundanalysis==10.1; platform_release >= '19.0'
pyobjc-framework-speech==10.1; platform_release >= '19.0'
pyobjc-framework-spritekit==10.1; platform_release >= '13.0'
pyobjc-framework-storekit==10.1; platform_release >= '11.0'
pyobjc-framework-symbols==10.1; platform_release >= '23.0'
pyobjc-framework-syncservices==10.1; python_version >= '3.8'
pyobjc-framework-systemconfiguration==10.1; python_version >= '3.8'
pyobjc-framework-systemextensions==10.1; platform_release >= '19.0'
pyobjc-framework-threadnetwork==10.1; platform_release >= '22.0'
pyobjc-framework-uniformtypeidentifiers==10.1; platform_release >= '20.0'
pyobjc-framework-usernotifications==10.1; platform_release >= '18.0'
pyobjc-framework-usernotificationsui==10.1; platform_release >= '20.0'
pyobjc-framework-videosubscriberaccount==10.1; platform_release >= '18.0'
pyobjc-framework-videotoolbox==10.1; platform_release >= '12.0'
pyobjc-framework-virtualization==10.1; platform_release >= '20.0'
pyobjc-framework-vision==10.1; platform_release >= '17.0'
pyobjc-framework-webkit==10.1; python_version >= '3.8'
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dotenv==1.0.0
pytz==2023.3.post1
pyyaml==6.0.1; python_version >= '3.6'
redis==5.0.1
referencing==0.32.1; python_version >= '3.8'
regex==2023.12.25; python_version >= '3.7'
requests==2.31.0; python_version >= '3.7'
rich==13.7.0; python_full_version >= '3.7.0'
rpds-py==0.16.2; python_version >= '3.8'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
smmap==5.0.1; python_version >= '3.7'
sniffio==1.3.0; python_version >= '3.7'
sqlalchemy==2.0.25; python_version >= '3.7'
streamlit==1.29.0
streamlit-chat==0.1.1
tenacity==8.2.3; python_version >= '3.7'
tiktoken==0.5.2
toml==0.10.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
toolz==0.12.0; python_version >= '3.5'
tornado==6.4; python_version >= '3.8'
tqdm==4.66.1; python_version >= '3.7'
typing-extensions==4.9.0; python_version >= '3.8'
typing-inspect==0.9.0
tzdata==2023.4; python_version >= '2'
tzlocal==5.2; python_version >= '3.8'
urllib3==2.1.0; python_version >= '3.8'
validators==0.22.0; python_version >= '3.8'
werkzeug==3.0.1; python_version >= '3.8'
yarl==1.9.4; python_version >= '3.7'
zipp==3.17.0; python_version >= '3.8'
