-i https://pypi.org/simple
aiohttp==3.9.0; python_version >= '3.8'
aiosignal==1.3.1; python_version >= '3.7'
altair==5.1.2; python_version >= '3.8'
annotated-types==0.6.0; python_version >= '3.8'
anyio==3.7.1; python_version >= '3.7'
asgiref==3.7.2; python_version >= '3.7'
attrs==23.1.0; python_version >= '3.7'
backoff==2.2.1; python_version >= '3.7'
bcrypt==4.0.1; python_version >= '3.6'
blinker==1.7.0; python_version >= '3.8'
cachetools==5.3.2; python_version >= '3.7'
certifi==2023.11.17; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
chroma-hnswlib==0.7.3
chromadb==0.4.18
click==8.1.7; python_version >= '3.7'
coloredlogs==15.0.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
dataclasses-json==0.6.2; python_version >= '3.7' and python_version < '4.0'
deprecated==1.2.14; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
distro==1.8.0; python_version >= '3.6'
dnspython==2.4.2; python_version >= '3.8' and python_version < '4.0'
faiss-cpu==1.7.4
fastapi==0.104.1; python_version >= '3.8'
filelock==3.13.1; python_version >= '3.8'
flask==3.0.0
flatbuffers==23.5.26
frozenlist==1.4.0; python_version >= '3.8'
fsspec==2023.10.0; python_version >= '3.8'
gitdb==4.0.11; python_version >= '3.7'
gitpython==3.1.40; python_version >= '3.7'
google-auth==2.23.4; python_version >= '3.7'
googleapis-common-protos==1.61.0; python_version >= '3.7'
grpcio==1.59.3; python_version >= '3.7'
h11==0.14.0; python_version >= '3.7'
httpcore==1.0.2; python_version >= '3.8'
httptools==0.6.1
httpx==0.25.2; python_version >= '3.8'
huggingface-hub==0.19.4; python_full_version >= '3.8.0'
humanfriendly==10.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
idna==3.5; python_version >= '3.5'
importlib-metadata==6.8.0; python_version >= '3.8'
importlib-resources==6.1.1; python_version >= '3.8'
itsdangerous==2.1.2; python_version >= '3.7'
jinja2==3.1.2; python_version >= '3.7'
jsonpatch==1.33; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
jsonpointer==2.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
jsonschema==4.20.0; python_version >= '3.8'
jsonschema-specifications==2023.11.1; python_version >= '3.8'
kubernetes==28.1.0; python_version >= '3.6'
langchain==0.0.340
langsmith==0.0.66; python_version < '4.0' and python_full_version >= '3.8.1'
markdown-it-py==3.0.0; python_version >= '3.8'
markupsafe==2.1.3; python_version >= '3.7'
marshmallow==3.20.1; python_version >= '3.8'
mdurl==0.1.2; python_version >= '3.7'
mmh3==4.0.1
monotonic==1.6
mpmath==1.3.0
multidict==6.0.4; python_version >= '3.7'
mypy-extensions==1.0.0; python_version >= '3.5'
numpy==1.26.2; python_version >= '3.8'
oauthlib==3.2.2; python_version >= '3.6'
onnxruntime==1.16.3
openai==1.2.0
opentelemetry-api==1.21.0; python_version >= '3.7'
opentelemetry-exporter-otlp-proto-common==1.21.0; python_version >= '3.7'
opentelemetry-exporter-otlp-proto-grpc==1.21.0; python_version >= '3.7'
opentelemetry-instrumentation==0.42b0; python_version >= '3.7'
opentelemetry-instrumentation-asgi==0.42b0; python_version >= '3.7'
opentelemetry-instrumentation-fastapi==0.42b0; python_version >= '3.7'
opentelemetry-proto==1.21.0; python_version >= '3.7'
opentelemetry-sdk==1.21.0; python_version >= '3.7'
opentelemetry-semantic-conventions==0.42b0; python_version >= '3.7'
opentelemetry-util-http==0.42b0; python_version >= '3.7'
overrides==7.4.0; python_version >= '3.6'
packaging==23.2; python_version >= '3.7'
pandas==2.1.3; python_version >= '3.9'
pillow==10.1.0; python_version >= '3.8'
playsound==1.3.0
posthog==3.0.2
protobuf==4.25.1; python_version >= '3.8'
pulsar-client==3.3.0
pyarrow==14.0.1; python_version >= '3.8'
pyasn1==0.5.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pyasn1-modules==0.3.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pydantic==2.5.2
pydantic-core==2.14.5; python_version >= '3.7'
pydeck==0.8.1b0; python_version >= '3.7'
pygments==2.17.2; python_version >= '3.7'
pymongo==4.6.0
pyobjc==10.0
pyobjc-core==10.0; python_version >= '3.8'
pyobjc-framework-accessibility==10.0; platform_release >= '20.0'
pyobjc-framework-accounts==10.0; platform_release >= '12.0'
pyobjc-framework-addressbook==10.0; python_version >= '3.8'
pyobjc-framework-adservices==10.0; platform_release >= '20.0'
pyobjc-framework-adsupport==10.0; platform_release >= '18.0'
pyobjc-framework-applescriptkit==10.0; python_version >= '3.8'
pyobjc-framework-applescriptobjc==10.0; platform_release >= '10.0'
pyobjc-framework-applicationservices==10.0; python_version >= '3.8'
pyobjc-framework-apptrackingtransparency==10.0; platform_release >= '20.0'
pyobjc-framework-audiovideobridging==10.0; platform_release >= '12.0'
pyobjc-framework-authenticationservices==10.0; platform_release >= '19.0'
pyobjc-framework-automaticassessmentconfiguration==10.0; platform_release >= '19.0'
pyobjc-framework-automator==10.0; python_version >= '3.8'
pyobjc-framework-avfoundation==10.0; platform_release >= '11.0'
pyobjc-framework-avkit==10.0; platform_release >= '13.0'
pyobjc-framework-avrouting==10.0; platform_release >= '22.0'
pyobjc-framework-backgroundassets==10.0; platform_release >= '22.0'
pyobjc-framework-businesschat==10.0; platform_release >= '18.0'
pyobjc-framework-calendarstore==10.0; platform_release >= '9.0'
pyobjc-framework-callkit==10.0; platform_release >= '20.0'
pyobjc-framework-cfnetwork==10.0; python_version >= '3.8'
pyobjc-framework-classkit==10.0; platform_release >= '20.0'
pyobjc-framework-cloudkit==10.0; platform_release >= '14.0'
pyobjc-framework-cocoa==10.0; python_version >= '3.8'
pyobjc-framework-collaboration==10.0; platform_release >= '9.0'
pyobjc-framework-colorsync==10.0; platform_release >= '17.0'
pyobjc-framework-contacts==10.0; platform_release >= '15.0'
pyobjc-framework-contactsui==10.0; platform_release >= '15.0'
pyobjc-framework-coreaudio==10.0; python_version >= '3.8'
pyobjc-framework-coreaudiokit==10.0; python_version >= '3.8'
pyobjc-framework-corebluetooth==10.0; platform_release >= '14.0'
pyobjc-framework-coredata==10.0; python_version >= '3.8'
pyobjc-framework-corehaptics==10.0; platform_release >= '19.0'
pyobjc-framework-corelocation==10.0; platform_release >= '10.0'
pyobjc-framework-coremedia==10.0; platform_release >= '11.0'
pyobjc-framework-coremediaio==10.0; platform_release >= '11.0'
pyobjc-framework-coremidi==10.0; python_version >= '3.8'
pyobjc-framework-coreml==10.0; platform_release >= '17.0'
pyobjc-framework-coremotion==10.0; platform_release >= '19.0'
pyobjc-framework-coreservices==10.0; python_version >= '3.8'
pyobjc-framework-corespotlight==10.0; platform_release >= '17.0'
pyobjc-framework-coretext==10.0; python_version >= '3.8'
pyobjc-framework-corewlan==10.0; platform_release >= '10.0'
pyobjc-framework-cryptotokenkit==10.0; platform_release >= '14.0'
pyobjc-framework-datadetection==10.0; platform_release >= '21.0'
pyobjc-framework-devicecheck==10.0; platform_release >= '19.0'
pyobjc-framework-dictionaryservices==10.0; platform_release >= '9.0'
pyobjc-framework-discrecording==10.0; python_version >= '3.8'
pyobjc-framework-discrecordingui==10.0; python_version >= '3.8'
pyobjc-framework-diskarbitration==10.0; python_version >= '3.8'
pyobjc-framework-dvdplayback==10.0; python_version >= '3.8'
pyobjc-framework-eventkit==10.0; platform_release >= '12.0'
pyobjc-framework-exceptionhandling==10.0; python_version >= '3.8'
pyobjc-framework-executionpolicy==10.0; platform_release >= '19.0'
pyobjc-framework-extensionkit==10.0; platform_release >= '22.0'
pyobjc-framework-externalaccessory==10.0; platform_release >= '17.0'
pyobjc-framework-fileprovider==10.0; platform_release >= '19.0'
pyobjc-framework-fileproviderui==10.0; platform_release >= '19.0'
pyobjc-framework-findersync==10.0; platform_release >= '14.0'
pyobjc-framework-fsevents==10.0; platform_release >= '9.0'
pyobjc-framework-gamecenter==10.0; platform_release >= '12.0'
pyobjc-framework-gamecontroller==10.0; platform_release >= '13.0'
pyobjc-framework-gamekit==10.0; platform_release >= '12.0'
pyobjc-framework-gameplaykit==10.0; platform_release >= '15.0'
pyobjc-framework-healthkit==10.0; platform_release >= '22.0'
pyobjc-framework-imagecapturecore==10.0; platform_release >= '10.0'
pyobjc-framework-inputmethodkit==10.0; platform_release >= '9.0'
pyobjc-framework-installerplugins==10.0; python_version >= '3.8'
pyobjc-framework-instantmessage==10.0; platform_release >= '9.0'
pyobjc-framework-intents==10.0; platform_release >= '16.0'
pyobjc-framework-intentsui==10.0; platform_release >= '21.0'
pyobjc-framework-iobluetooth==10.0; python_version >= '3.8'
pyobjc-framework-iobluetoothui==10.0; python_version >= '3.8'
pyobjc-framework-iosurface==10.0; platform_release >= '10.0'
pyobjc-framework-ituneslibrary==10.0; platform_release >= '10.0'
pyobjc-framework-kernelmanagement==10.0; platform_release >= '20.0'
pyobjc-framework-latentsemanticmapping==10.0; python_version >= '3.8'
pyobjc-framework-launchservices==10.0; python_version >= '3.8'
pyobjc-framework-libdispatch==10.0; platform_release >= '12.0'
pyobjc-framework-libxpc==10.0; platform_release >= '12.0'
pyobjc-framework-linkpresentation==10.0; platform_release >= '19.0'
pyobjc-framework-localauthentication==10.0; platform_release >= '14.0'
pyobjc-framework-localauthenticationembeddedui==10.0; platform_release >= '21.0'
pyobjc-framework-mailkit==10.0; platform_release >= '21.0'
pyobjc-framework-mapkit==10.0; platform_release >= '13.0'
pyobjc-framework-mediaaccessibility==10.0; platform_release >= '13.0'
pyobjc-framework-medialibrary==10.0; platform_release >= '13.0'
pyobjc-framework-mediaplayer==10.0; platform_release >= '16.0'
pyobjc-framework-mediatoolbox==10.0; platform_release >= '13.0'
pyobjc-framework-metal==10.0; platform_release >= '15.0'
pyobjc-framework-metalfx==10.0; platform_release >= '22.0'
pyobjc-framework-metalkit==10.0; platform_release >= '15.0'
pyobjc-framework-metalperformanceshaders==10.0; platform_release >= '17.0'
pyobjc-framework-metalperformanceshadersgraph==10.0; platform_release >= '20.0'
pyobjc-framework-metrickit==10.0; platform_release >= '21.0'
pyobjc-framework-mlcompute==10.0; platform_release >= '20.0'
pyobjc-framework-modelio==10.0; platform_release >= '15.0'
pyobjc-framework-multipeerconnectivity==10.0; platform_release >= '14.0'
pyobjc-framework-naturallanguage==10.0; platform_release >= '18.0'
pyobjc-framework-netfs==10.0; platform_release >= '10.0'
pyobjc-framework-network==10.0; platform_release >= '18.0'
pyobjc-framework-networkextension==10.0; platform_release >= '15.0'
pyobjc-framework-notificationcenter==10.0; platform_release >= '14.0'
pyobjc-framework-opendirectory==10.0; platform_release >= '10.0'
pyobjc-framework-osakit==10.0; python_version >= '3.8'
pyobjc-framework-oslog==10.0; platform_release >= '19.0'
pyobjc-framework-passkit==10.0; platform_release >= '20.0'
pyobjc-framework-pencilkit==10.0; platform_release >= '19.0'
pyobjc-framework-phase==10.0; platform_release >= '21.0'
pyobjc-framework-photos==10.0; platform_release >= '15.0'
pyobjc-framework-photosui==10.0; platform_release >= '15.0'
pyobjc-framework-preferencepanes==10.0; python_version >= '3.8'
pyobjc-framework-pushkit==10.0; platform_release >= '19.0'
pyobjc-framework-quartz==10.0; python_version >= '3.8'
pyobjc-framework-quicklookthumbnailing==10.0; platform_release >= '19.0'
pyobjc-framework-replaykit==10.0; platform_release >= '20.0'
pyobjc-framework-safariservices==10.0; platform_release >= '16.0'
pyobjc-framework-safetykit==10.0; platform_release >= '22.0'
pyobjc-framework-scenekit==10.0; platform_release >= '11.0'
pyobjc-framework-screencapturekit==10.0; platform_release >= '21.4'
pyobjc-framework-screensaver==10.0; python_version >= '3.8'
pyobjc-framework-screentime==10.0; platform_release >= '20.0'
pyobjc-framework-scriptingbridge==10.0; platform_release >= '9.0'
pyobjc-framework-searchkit==10.0; python_version >= '3.8'
pyobjc-framework-security==10.0; python_version >= '3.8'
pyobjc-framework-securityfoundation==10.0; python_version >= '3.8'
pyobjc-framework-securityinterface==10.0; python_version >= '3.8'
pyobjc-framework-servicemanagement==10.0; platform_release >= '10.0'
pyobjc-framework-sharedwithyou==10.0; platform_release >= '22.0'
pyobjc-framework-sharedwithyoucore==10.0; platform_release >= '22.0'
pyobjc-framework-shazamkit==10.0; platform_release >= '21.0'
pyobjc-framework-social==10.0; platform_release >= '12.0'
pyobjc-framework-soundanalysis==10.0; platform_release >= '19.0'
pyobjc-framework-speech==10.0; platform_release >= '19.0'
pyobjc-framework-spritekit==10.0; platform_release >= '13.0'
pyobjc-framework-storekit==10.0; platform_release >= '11.0'
pyobjc-framework-syncservices==10.0; python_version >= '3.8'
pyobjc-framework-systemconfiguration==10.0; python_version >= '3.8'
pyobjc-framework-systemextensions==10.0; platform_release >= '19.0'
pyobjc-framework-threadnetwork==10.0; platform_release >= '22.0'
pyobjc-framework-uniformtypeidentifiers==10.0; platform_release >= '20.0'
pyobjc-framework-usernotifications==10.0; platform_release >= '18.0'
pyobjc-framework-usernotificationsui==10.0; platform_release >= '20.0'
pyobjc-framework-videosubscriberaccount==10.0; platform_release >= '18.0'
pyobjc-framework-videotoolbox==10.0; platform_release >= '12.0'
pyobjc-framework-virtualization==10.0; platform_release >= '20.0'
pyobjc-framework-vision==10.0; platform_release >= '17.0'
pyobjc-framework-webkit==10.0; python_version >= '3.8'
pypika==0.48.9
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dotenv==1.0.0
pytz==2023.3.post1
pyyaml==6.0.1; python_version >= '3.6'
redis==5.0.1
referencing==0.31.0; python_version >= '3.8'
regex==2023.10.3; python_version >= '3.7'
requests==2.31.0; python_version >= '3.7'
requests-oauthlib==1.3.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
rich==13.7.0; python_full_version >= '3.7.0'
rpds-py==0.13.1; python_version >= '3.8'
rsa==4.9; python_version >= '3.6' and python_version < '4'
setuptools==69.0.2; python_version >= '3.8'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
smmap==5.0.1; python_version >= '3.7'
sniffio==1.3.0; python_version >= '3.7'
sqlalchemy==2.0.23; python_version >= '3.7'
starlette==0.27.0; python_version >= '3.7'
streamlit==1.28.2
streamlit-chat==0.1.1
sympy==1.12; python_version >= '3.8'
tenacity==8.2.3; python_version >= '3.7'
tiktoken==0.5.1
tokenizers==0.15.0; python_version >= '3.7'
toml==0.10.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
toolz==0.12.0; python_version >= '3.5'
tornado==6.3.3; python_version >= '3.8'
tqdm==4.66.1; python_version >= '3.7'
typer==0.9.0; python_version >= '3.6'
typing-extensions==4.8.0; python_version >= '3.8'
typing-inspect==0.9.0
tzdata==2023.3; python_version >= '2'
tzlocal==5.2; python_version >= '3.8'
urllib3==1.26.18; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
uvicorn[standard]==0.24.0.post1; python_version >= '3.8'
uvloop==0.19.0
validators==0.22.0; python_version >= '3.8'
watchfiles==0.21.0
websocket-client==1.6.4; python_version >= '3.8'
websockets==12.0
werkzeug==3.0.1; python_version >= '3.8'
wrapt==1.16.0; python_version >= '3.6'
yarl==1.9.3; python_version >= '3.7'
zipp==3.17.0; python_version >= '3.8'
